<main class="main">
  <div class="header">
    <div class="header-title">
      <h1>Cotidie Summarium</h1>
    </div>
    <div class="header-sentence">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    </div>
  </div>
  <div class="summary">
    <div class="legend">
      <table [cellSpacing]="0">
        <tr>
          <th>Legend</th>
        </tr>
        <tr *ngFor="let status of allStatuses">
          <td class="status"
              [style.background-color]="status.backgroundColor"
              [style.color]="status.color">{{status.name}}</td>
        </tr>
      </table>
    </div>  
    <div class="participants">
      <table [cellSpacing]="0">
        <tr>
          <th>nº</th>
          <th>Actions</th>
          <th>Status</th>
          <th>Name</th>
          <th>Attributes</th>
        </tr>
        <tr *ngFor="let participant of participants; index as i">
          <td>{{i + 1}}</td>
          <td>
            <div class="participant-action">
              <button *ngFor="let status of participantStatuses" 
                      [style.background-color]="status.backgroundColor"
                      (click)="changeParticipantStatus(participant, status)"></button>
              <button [style.background-color]="'black'"
                      [style.color]="'white'"
                      (click)="deleteParticipant(participant)">-</button>
            </div>
          </td>
          <td class="status"
              [style.background-color]="participant.status.backgroundColor"
              [style.color]="participant.status.color">{{participant.status}}</td>
          <td>{{participant.name}}</td>
          <td>{{participant.attributes}}</td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td>Add participant: </td>
          <td><input type="text" (keyup.enter)="addParticipant($event)" /></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="discussion">
      <table [cellSpacing]="0">
        <tr>
          <th>nº</th>
          <th>Actions</th>
          <th>Status</th>
          <th>Caller</th>
          <th>Description</th>
        </tr>
        <tr *ngFor="let discussionItem of discussionItems; index as i">
          <td>{{i + 1}}</td>
          <td>
            <div class="discussion-action">
              <button *ngFor="let status of discussionStatuses" 
                      [style.background-color]="status.backgroundColor"
                      (click)="changeDiscussionItemStatus(discussionItem, status)"></button>
              <button [style.background-color]="'black'"
                      [style.color]="'white'"
                      (click)="deleteDiscussionItem(discussionItem)">-</button>
            </div>
          </td>
          <td class="status"
              [style.background-color]="discussionItem.status.backgroundColor"
              [style.color]="discussionItem.status.color">{{discussionItem.status}}</td>
          <td>{{discussionItem.caller}}</td>
          <td>{{discussionItem.description}}</td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td>Add discussion: </td>
          <td>
            <select [(ngModel)]="selectedParticipant">
              <option *ngFor="let participant of participants">
                {{participant.name}}
              </option>
            </select>
          </td>
          <td>
            <input type="text" (keyup.enter)="addDiscussionItem($event)"/>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
</main>
<div class="footer">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
</div>