
table tr td, table tr th, input, select {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid white;
}

h1, p {
    color: blue;
}

p {
    font-style: italic;
}

table tr th, .table-footer td {
    background-color: blue;
    color: white;
}
.status {
    min-width: 100px;
}
.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    .header{
        text-align: center;
        padding: 2% 0%;
    }
    .legend {
        flex-grow: 1.5;
    }
    .summary {
        display: flex;
        flex-grow: 8;
        .participants {
            flex-grow: 2;
            
        }
        .discussion {
            flex-grow: 4;
        }

    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .participant-action, .discussion-action {
        display: flex;
        button {
            border: none;
            min-width: 20px;
            min-height: 20px;
        }
        button:hover {
            filter: brightness(120%);
            transition: 0.5ms cubic-bezier();
        }
    }

}